* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.top_bar{
  background-color: #81C784;
}

html{
  width: 100%;
  height: 100%;
margin:0;
padding:0;


}

.img {
  width: 100%;
  height: 15rem;
}

body {
padding: 0;
margin-top: 2%;

  display: flex;
  justify-content: center;

  min-height: 100vh;
}


.pos_top{
  width:45%;
  position:absolute;
  left: 25%;
  top: 15%;
}

.img_deg{
  float: left;
  width: auto;
  margin-right: 3%;
  max-height: 400px;
  max-width: 300px;
}

.plantbox{
  background-color:#C9CCD3;
}

.desc {
  padding-top: 2%;
  padding-right: 0%;
  padding-left: 50%;
  font-size: 1.1em;
}

.top_bar{
  padding-top: 30%;
}

.result {
  display:flex;
  flex-wrap:wrap;
}

.btnbox {
display: flex;
justify-content: center;
padding: 16px;
}

.none_btn_box{
  /* display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; */
}

.classes-field{
 margin-top: 4em;
margin-bottom: 4em;
display: block

}

.entry_box form{
  display: flex;
  flex-direction: column;
}

/* font-family: 'Cabin', sans-serif;
font-family: 'Open Sans', sans-serif; */

.display_none {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.health_box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.selected_plant {
  border: 5px green;
}

.button_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.entry_pic{
  width: 400px;
  height: 400px;
  border: 6px solid gray;
  margin-bottom: 1em;
}

 .section {
margin-bottom: 4em;
} 

.comment_box{
  background-color: antiquewhite;
  padding: 10px;
  margin-top: .25em;
}

/* .wrapper {
  border: 20px solid #81C784;
} */

.error_msg {
  color: red;
  font-weight: bold; /* Add this line to make the text bold */
}

.list li {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size:1.5em;
}

.addEntry {
  display: flex;
  align-content: flex-end;
}

.cBox {
  padding:5px;
  font-size: 1.5em;
}

.commentField {
font-size: 1em;
}

.editBox {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 1em;
  margin-top:2em
}

.editLabel{
  font-size: 1.5em;
}

.inputText{
  font-size:1.25em;
  padding:3px;
}

.editInputs {
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-input-container{
  border: 2px solid #000;
  padding: .5em;
  border-radius: 3px;
  width: min(60vw, 400px);
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
}

.tag-item{
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: .5em .75em;
  border-radius: 20px;
}

.tag-item .close{
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input{
  flex-grow: 1;
  padding: .5em 0;
  border: none;
  outline: none;
}

.statusBubble {
  background-color: #bdb8b8;
  height: 160%; /* Adjust height to fit the content */
  width: 150%; /* Adjust width to fit the content */
  display: inline-block; 
  border-radius: 45%;/* Make it inline so it wraps around the content */
}



.status-txt{
text-align: center;
}

.latest-image {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;

}

.avatarBig{
  width: 200px;
  height: 200px;
}

.entryBox{
  background-color: #fff;
  padding: 15px;
  border-radius: 2%;
  margin-top: 1em;
}

.small-plant-card-container {
  display: flex; /* To make them display in a row */
  flex-wrap: wrap; /* Wrap cards to the next line if the container is not wide enough */
  gap: 10px; /* This sets the space between the cards */
  margin-bottom: 1em;
}

/* Additional styling for SmallPlantCard components if needed */
.small-plant-card {
padding:2%;
}

.noneBtnBox{
width:100%;
display:flex;
justify-content: center;
align-items: center;
padding:3%;
z-index: 1;
}

.rosepic{
  width: 50%;
}

.save-btn{
  font-size: 24px;
  padding: 10px;
  background-color:#81C784;
  border-radius: 15%;
}

.tiny_pic {
  height:100px;
  width:100px;
}

.welcome_pic{
  width: 90%;
  margin-top:1em;
  border: 5px solid grey;

}

.welcome_box{
  margin-top:1em;
  display: flex;
justify-content: space-around;
}

.all_btn{
  margin-top: 5%;
}

.loader{
  width: 100%;
  display: flex;
  justify-content: center;
}


.search-btn{
  font-size: 20px;
  padding: 5px;
  background-color:#81C784;
  border-radius: 15%;
}

.search-btn:hover {
  filter: brightness(90%);
  cursor:pointer;
}

.search-txt form{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-margin-bottom{
  margin-bottom: 1em;
}

.marginTop{
  margin-top: 1em;
}

.file-input{
  margin-bottom: 2em;
  font-size: 17px;
}

.margB1{
  margin-bottom:1em;
}

.margB2{
  margin-bottom: 2em;
}

.margT2{
  margin-top: 2em;
}

.margT1{
  margin-top: 1em;
}

.margT3{
  margin-top: 3em;
}

.statusText{
  font-size: 17px;
}

